<div class="container trip-box">
  <hr>
  <hr>
  <h3><%= trip.name %></h3>
  <div class="trip-image thumbnail">
    <%= image_tag(trip.image_url, :class => "thumbnail img img-rounded") %> 
  </div>
  <p><strong>Description:</strong> <%= trip.description %></p>
  <p><strong>Cost:</strong> <%= trip.price %></p>
  <p>
    <%= link_to 'Show', trip, :class => 'btn btn-default', :type => 'button' %> 
    <%= link_to 'Edit', edit_trip_path(trip), :class => 'btn btn-default', :type => 'button' %> 
    <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default', :type => 'button' %>
  </p>
</div>